<section id="skill">
    <h1 class="sub-heading">Skills</h1>
    <div class="divider"></div>
    <p class="sub-para">I have acquired proficiency in various programming languages and web development technologies, including HTML, CSS, JavaScript,C,C++ etc. With hands-on experience and a strong foundation in these areas, I am equipped to tackle a wide range of web development projects.</p>
    <div class="skill-row">
        <div class="skill-box">
            <div class="skill-info">
                <h2>C</h2>
                <h2>75%</h2>
            </div>
            <div class="skill-outer-line">
                <div class="skill-inner-line" style="width: 75%;"></div>
            </div>
        </div>
        <div class="skill-box">
            <div class="skill-info">
                <h2>C++</h2>
                <h2>80%</h2>
            </div>
            <div class="skill-outer-line">
                <div class="skill-inner-line" style="width: 80%;"></div>
            </div>
        </div>
        <div class="skill-box">
            <div class="skill-info">
                <h2>JAVA</h2>
                <h2>85%</h2>
            </div>
            <div class="skill-outer-line">
                <div class="skill-inner-line" style="width: 85%;"></div>
            </div>
        </div>
        <div class="skill-box">
            <div class="skill-info">
                <h2>ASSEMBLY</h2>
                <h2>70%</h2>
            </div>
            <div class="skill-outer-line">
                <div class="skill-inner-line" style="width: 70%;"></div>
            </div>
        </div>
        <div class="skill-box">
            <div class="skill-info">
                <h2>HTML</h2>
                <h2>85%</h2>
            </div>
            <div class="skill-outer-line">
                <div class="skill-inner-line" style="width: 85%;"></div>
            </div>
        </div>
        <div class="skill-box">
            <div class="skill-info">
                <h2>CSS</h2>
                <h2>75%</h2>
            </div>
            <div class="skill-outer-line">
                <div class="skill-inner-line" style="width: 75%;"></div>
            </div>
        </div>
        <div class="skill-box">
            <div class="skill-info">
                <h2>JAVASCRIPT</h2>
                <h2>65%</h2>
            </div>
            <div class="skill-outer-line">
                <div class="skill-inner-line" style="width: 60%;"></div>
            </div>
        </div>
        <div class="skill-box">
            <div class="skill-info">
                <h2>PHP</h2>
                <h2>60%</h2>
            </div>
            <div class="skill-outer-line">
                <div class="skill-inner-line" style="width: 60%;"></div>
            </div>
        </div>

    </div>
</section>