@model Skill
<section style="display: flex; justify-content: center; align-items: center; height: 100vh;">
    <form method="post" style="width: 300px; text-align: center;">
        <input disabled asp-for="Name" type="text" id="name" placeholder="Skill name" style="width: 100%; padding: 8px; margin-bottom: 10px; box-sizing: border-box;">
        <input disabled asp-for="Level" type="text" id="level" placeholder="Enter your level" style="width: 100%; padding: 8px; margin-bottom: 10px; box-sizing: border-box;">
        <button type="submit" style="width: 100%; padding: 10px; background-color: #4CAF50; color: #fff; border: none; cursor: pointer; transition: background-color 0.3s;">Delete</button>
    </form>
</section>