<section id="about">
    <h1 class="sub-heading">About Me</h1>
    <div class="divider"></div>
    <p class="sub-para">
        Hey! I'm Anirban Ghosh Argha, a Computer Science and Engineering student at KUET from Rajshahi. Passionate about exploring the diverse realms of computer science, I enjoy watching movies, playing games, and following football and cricket. Eager to make impactful contributions to the field, I'm driven by innovation and a belief in the transformative power of technology.
    </p>

    <div class="about-col">
        <div class="img-col">
            <img src="image/img3.jpg" alt="...">

        </div>

        <div class="info-col">
            <h2>Student</h2>
            <p class="sub-para">Here's some basic information about me..</p>
            <div class="icon-list-col">
                <div class="icon-list">
                    <ul>
                        <li><i class="fa-solid fa-angle-right"></i><strong>Birthday:</strong><span>19 March,2002</span></li>
                        <li><i class="fa-solid fa-angle-right"></i><strong>Phone:</strong><span>01746547259</span></li>
                        <li><i class="fa-solid fa-angle-right"></i><strong>City:</strong><span>Rajshahi,Bangladesh</span></li>
                    </ul>
                </div>
                <div class="icon-list">
                    <ul>
                        <li><i class="fa-solid fa-angle-right"></i><strong>Age:</strong><span>21</span></li>
                        <li><i class="fa-solid fa-angle-right"></i><strong>Degree:</strong><span>BSc</span></li>
                        <li><i class="fa-solid fa-angle-right"></i><strong>Email:</strong><span>anirbanargha0053@gmail.com</span></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>