<section id="portfolio">
    <h1 class="sub-heading">Projects</h1>
    <div class="divider"></div>
    <p class="sub-para">Here are some recent projects I've been working on. Feel free to check them out:</p>
    <div class="port-row">
        <div class="port-item">
            <div class="port-img">
                <img src="image/download.png" alt="...">
            </div>
            <div class="port-info">
                <h4>Expense Tracker</h4>
                <p>It is an android app that is used to keep track of daily incomes & expenses of an individual.Java language is used to build it.</p>
                <a href="https://github.com/cryptic0053/Expense-Tracker"><i class="fa-solid fa-up-right-from-square"> </i></a>
            </div>
        </div>
        <div class="port-item">
            <div class="port-img">
                <img src="image/images.jpg" alt="...">
            </div>
            <div class="port-info">
                <h4>Panda</h4>
                <p>It is a demo website which is an e-commerce website.HTML,CSS,Bootstrap are used to build it.</p>
                <a href="https://github.com/cryptic0053/panda"><i class="fa-solid fa-up-right-from-square"></i></a>
            </div>
        </div>
        <div class="port-item">
            <div class="port-img">
                <img src="image/download (1).png" alt="...">
            </div>
            <div class="port-info">
                <h4>Message Encryption System</h4>
                <p>It is a C++ project which encrypts message using Caesar Cipher rule.</p>
                <a href="https://github.com/cryptic0053/Encryption-System"><i class="fa-solid fa-up-right-from-square"></i></a>
            </div>
        </div>
    </div>
</section>