<section id="resume">
    <div class="resume-row">
        <div class="resume-cols">
            <h1 class="sub-heading">Education</h1>
            <div class="divider"></div>
            <p class="sub-para"></p>
            <div class="my-edu">
                <h3>SSC AT...</h3>
                <span class="sp-box">2018</span>
                <p><b>RCS</b></p>
                <p>I completed my SSC from Rajshahi Collegiate School with a GPA of 5, demonstrating a strong academic record and commitment to excellence.</p>

            </div>
            <div class="my-edu">
                <h3>HSC at ...</h3>
                <span class="sp-box">2020</span>
                <p><b>RC</b></p>
                <p>Completing HSC from Rajshahi College with a perfect GPA of 5 in my HSC, I've demonstrated a consistent dedication to academic excellence and a strong commitment to my education.</p>

            </div>
            <div class="my-edu">
                <h3>PURSUING UNDERGRADUATE FROM</h3>
                <span class="sp-box">2022</span>
                <p>KUET</p>
                <p>I've been a student at KUET since 2022, where I'm currently pursuing my undergraduate degree.</p>

            </div>
        </div>
    </div>
</section>